name: PR Build Check

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-test:
    name: Build and Test Next.js App
    runs-on: ubuntu-latest

    steps:
      # Checkout the repository
      - name: Checkout code
        uses: actions/checkout@v3

      # Set up pnpm
      - name: Setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 8

      # Set up Node.js
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18"
          cache: "pnpm"

      # Install dependencies
      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      # Run linting
      #   - name: Lint code
      #     run: pnpm run lint

      #   # Run tests
      #   - name: Run tests
      #     run: pnpm test

      # Build the Next.js app
      - name: Build Next.js app
        run: pnpm run build:web

    #   # Run Next.js type check (optional)
    #   - name: Run TypeScript type check
    #     run: npm run type-check
